#page-form{:style => 'display:none'}
  %p.save{:style => 'display:none'} Salvando...
  = link_to "fechar", "#", :class => 'close-form'
  = form_for current_user.page, :method => :put do |f|
    -#%p
      - %w( 01 02 03 ).each do |theme|
        = f.radio_button :theme, theme, :class => 'theme'
        = f.label "theme_#{theme}", theme
        %br
    %p
      = f.label :title, "título"
      = f.text_field :title
    %p
      = f.label :subtitle, "subtítulo"
      = f.text_field :subtitle
    %p
      = f.label :description, "descrição"
      = f.text_field :description
    %p
      = f.label :twitter, "twitter"
      = f.text_field :twitter
    %p
      = f.label :facebook, "facebook"
      = f.text_field :facebook
    %p
      = f.label :linkedin, "linkedin"
      = f.text_field :linkedin
    %p
      = f.label :orkut, "orkut"
      = f.text_field :orkut
    %p
      = f.label :address, "endereço"
      = f.text_field :address
    %p
      = f.label :phone, "telefone"
      = f.phone_field :phone
    %p
      = f.label :email, "email"
      = f.email_field :email
