= form_for current_user.page, :method => :put do |f|
  %header.titulo
    .align-center
      %h2.title.editable-hover.tooltip{ :title => "Clique para editar" }= resource.page.title
      = render 'field', :field => :title, :f => f

  %header.sub-titulo
    .align-center
      %h3.subtitle.editable-hover.tooltip{ :title => "Clique para editar" }= resource.page.subtitle
      = render 'field', :field => :subtitle, :f => f

  %section.content
    %article
      .align-center
        %p.description.editable-hover.tooltip{ :title => "Clique para editar" }= resource.page.description.gsub("\n", "<br />").html_safe
        = render 'field', :field => :description, :f => f, :type => :text_area

    %aside.network
      .align-center
        %section.network
          = link_to 'linkedin', 'javascript:void(0);', :class => 'linkedin editable-hover tooltip', :title => "Clique para editar"
          = render 'field', :field => :linkedin, :f => f
          = link_to 'orkut', 'javascript:void(0);', :class => 'orkut editable-hover tooltip', :title => "Clique para editar"
          = render 'field', :field => :orkut, :f => f
          = link_to 'facebook', 'javascript:void(0);', :class => 'facebook editable-hover tooltip', :title => "Clique para editar"
          = render 'field', :field => :facebook, :f => f
          = link_to 'twitter', 'javascript:void(0);', :class => 'twitter editable-hover tooltip', :title => "Clique para editar"
          = render 'field', :field => :twitter, :f => f

    %aside.address-content
      .align-center
        %section.address-content
          %p
            %span.e-mail
              Email:
            %span.email-client.editable-hover.tooltip{ :title => "Clique para editar" }
              = link_to(resource.page.email, "javascript:void(0)", :class => 'email')
            = render 'field', :field => :email, :f => f
          %p
            %span.telephone
              Telefone:
            %span.email-client.phone.editable-hover.tooltip{ :title => "Clique para editar" }
              = resource.page.phone
            = render 'field', :field => :phone, :f => f
          %address
            %span.endereco
              Endereço:
            %span.endereco-client.address.editable-hover.tooltip{ :title => "Clique para editar" }
              = resource.page.address
            = render 'field', :field => :address, :f => f

  %button.shiny-blue Publicar
