= link_to 'Edit user', edit_user_registration_path
= link_to 'Logout', destroy_user_session_path, :method => :delete

= render 'information_form'
= render 'shared/user_information', :resource => current_user

- content_for :footer do
  = javascript_include_tag 'dashboard'
