= link_to 'Editar perfil', edit_user_registration_path
= link_to 'Sair', destroy_user_session_path, :method => :delete
= link_to 'Editar página', "#", :class => 'trigger-form'

= render 'page_form'
= render 'shared/user_page', :resource => current_user, :title => false

- content_for :footer do
  = javascript_include_tag 'dashboard'

- content_for :title do
  = "Sob.re - Dashboard de #{current_user.identifier}"
