%p= current_user.email

= link_to 'Edit user', edit_user_registration_path
= link_to 'Logout', destroy_user_session_path, :method => :delete

#title
  = current_user.information.title
#subtitle
  = current_user.information.subtitle
#description
  = current_user.information.description
#twitter{:style => current_user.information.twitter.blank? ? 'display:none' : ''}
  = link_to 'twitter', current_user.information.twitter, :target => :blank
#facebook{:style => current_user.information.facebook.blank? ? 'display:none' : ''}
  = link_to 'facebook', current_user.information.facebook, :target => :blank
#linkedin{:style => current_user.information.linkedin.blank? ? 'display:none' : ''}
  = link_to 'linkedin', current_user.information.linkedin, :target => :blank
#orkut{:style => current_user.information.orkut.blank? ? 'display:none' : ''}
  = link_to 'orkut', current_user.information.orkut, :target => :blank

= form_for current_user.information, :method => :put do |f|
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :subtitle
    = f.text_field :subtitle
  %p
    = f.label :description
    = f.text_field :description
  %p
    = f.label :twitter
    = f.text_field :twitter
  %p
    = f.label :facebook
    = f.text_field :facebook
  %p
    = f.label :linkedin
    = f.text_field :linkedin
  %p
    = f.label :orkut
    = f.text_field :orkut

%p#save{:style => 'display:none'} Salvando...
