.form_registration
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    = f.label :name
    = f.error_message_on :name
    = f.text_field :name, :placeholder => "NOME"

    = f.label :username
    = f.error_message_on :username
    = f.text_field :username, :placeholder => "USERNAME"

    = f.label :email
    = f.error_message_on :email
    = f.email_field :email, :placeholder => "EMAIL"

    = f.label :password
    = f.error_message_on :password
    = f.password_field :password, :placeholder => "NOVA SENHA"

    = f.label :current_password
    = f.error_message_on :current_password
    = f.password_field :current_password, :placeholder => "INSIRA SENHA PARA SALVAR"

    %button{ :class => "shiny-blue" }
      Cadastrar
