.video
  .teste-1
  .position-video
    <iframe width="560" height="315" src="http://www.youtube.com/embed/xTDbuA9uonY" frameborder="0" allowfullscreen></iframe>

.form_registration
  %p
    Sem a necessidade de conhecimento técnico, você pode ter a
    sua página na internet em apenas 1 passo. Mais barato que
    uma hospedagem e sem o custo de contratar um profissional.

  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = f.label :username
    = f.error_message_on :username
    = f.text_field :username, :placeholder => "USUÁRIO"

    = f.label :email
    = f.error_message_on :email
    = f.email_field :email, :placeholder => "EMAIL"

    = f.label :password
    = f.error_message_on :password
    = f.password_field :password, :placeholder => "SENHA"

    %button{ :class => "shiny-blue" }
      Cadastrar

%ul.bullets
  %li
    %h4 Crie
    %p
      Uma página para a sua<br />
      empresa em poucos minutos.<br />
      É rápido e fácil.
  %li
    %h4 Informe
    %p
      Seu telefone, endereço<br />
      e e-mail e seja facilmente<br />
      encontrado por clientes.
  %li.no-right-margin
    %h4 Divulgue
    %p
      sua empresa na internet,<br />
      obtenha novos contatos e<br />
      oportunidades de negócio.
