.video
  .sombra-left-top
  .sombra-bottom-right
  .position-video
    <iframe src="http://player.vimeo.com/video/30549272?title=0&amp;byline=0&amp;portrait=0" width="438" height="290" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>

.form_registration
  %p
    Você pode ter a sua página na internet em apenas <b>1 passo</b>, sem
    precisar de conhecimento técnico. Mais barato que hospedagem
    e sem o custo de contratar um profissional.
  
  %h5 Faça seu cadastro
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = f.label :username
    = f.error_message_on :username
    = f.text_field :username, :class => "required"

    = f.label :email
    = f.error_message_on :email
    = f.email_field :email, :placeholder => "E-MAIL", :class => "required"

    = f.label :password
    = f.error_message_on :password
    = f.password_field :password, :placeholder => "SENHA", :class => "required"

    %button{ :class => "shiny-blue" }
      Cadastrar

%ul.bullets
  %li
    %h4 Cr.ie
    %p
      Uma página para a sua empresa<br />
      em poucos minutos É rápido e fácil.
  %li
    %h4 Infor.me
    %p
      Seu telefone, endereço e e-mail e<br />
      seja facilmente encontrado por clientes.
  %li.no-right-margin
    %h4 Divulg.ue
    %p
      Sua empresa na internet, e garanta<br />
      novas oportunidades de negócio.