%div{:class => theme_class}
  %header.titulo
    .align-center
      %h2.title= resource.page.title

  %header.sub-titulo
    .align-center
      %h3.subtitle= resource.page.subtitle

  %section.content
    %article
      .align-center
        %p.description= resource.page.description.gsub("\n", "<br />").html_safe

    %aside.network
      .align-center
        %section.network
          = social_network_to(:linkedin, resource.page.linkedin)
          = social_network_to(:orkut, resource.page.orkut)
          = social_network_to(:facebook, resource.page.facebook)
          = social_network_to(:twitter, resource.page.twitter)

    %aside.address-content
      .align-center
        %section.address-content
          %p.email-layer{:style => resource.page.email.blank? ? 'display:none' : ''}
            %span.e-mail
              Email:
            %span.email-client
              = mail_to(resource.page.email, nil, :class => 'email')
          %p.phone-layer{:style => resource.page.phone.blank? ? 'display:none' : ''}
            %span.telephone
              Telefone:
            %span.email-client.phone
              = resource.page.phone
          %address.address-layer{:style => resource.page.address.blank? ? 'display:none' : ''}
            %span.endereco
              Endereço:
            %span.endereco-client.address
              = resource.page.address

- content_for :title do
  = "Sob.re - #{resource.page.title}"
