%header
  .align-center
    %h2.title= resource.information.title

%section.content
  %section.user-subtitle
    .align-center
      %h3.subtitle= resource.information.subtitle

  %article.user-description
    .align-center
      %p.description= resource.information.description

  %address
    .align-center
      %p
        Email:
        = mail_to(resource.information.email, nil, :class => 'email')
      %p
        Telefone:
        %tel.phone= resource.information.phone
      %p
        Endereço:
        %span.address= resource.information.address

  %aside.social-network
    .align-center
      = link_to 'LinkedIn', resource.information.linkedin, :class => 'linkedin', :style => resource.information.linkedin? ? '' : 'display:none'
      = link_to 'Orkut', resource.information.orkut, :class => 'orkut', :style => resource.information.orkut? ? '' : 'display:none'
      = link_to 'Facebook', resource.information.facebook, :class => 'facebook', :style => resource.information.facebook? ? '' : 'display:none'
      = link_to 'Twitter', resource.information.twitter, :class => 'twitter', :style => resource.information.twitter? ? '' : 'display:none'

- content_for :title do
  = resource.information.title
