%header
  .align-center
    %h2.title= resource.information.title

%section.content
  %section.user-subtitle
    .align-center
      %h3.subtitle= resource.information.subtitle

  %article.user-description
    .align-center
      %p.description= resource.information.description

  %address
    .align-center
      %p
        Email:
        = mail_to(resource.information.email, nil, :class => 'email')
      %p
        Telefone:
        %tel.phone= resource.information.phone
      %p
        Endereço:
        %span.address= resource.information.address

  %aside.social-network
    .align-center
      = social_network_to(:linkedin, resource.information.linkedin)
      = social_network_to(:orkut, resource.information.orkut)
      = social_network_to(:facebook, resource.information.facebook)
      = social_network_to(:twitter, resource.information.twitter)

- content_for :title do
  = resource.information.title
