.form_registration
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

    = f.label :email
    = f.email_field :email, :placeholder => "EMAIL"

    = f.label :password
    = f.password_field :password, :placeholder => "SENHA"

    %button{ :class => "shiny-blue" }
      Entrar

  = render 'devise/shared/links'
