!!! 5
%html{:lang => "pt-br"}
  %head
    %meta{:charset => "UTF-8"}
    = stylesheet_link_tag "dashboard"
    = stylesheet_link_tag "themes"
    %title= "Sob.re - Dashboard de #{current_user.identifier}"

  %body
    .all-content
      .header-sobre
        .align-center
          = link_to image_tag("logo-menor.png"), "javascript:void(0);"
          .user-details
            = link_to 'Editar perfil', edit_user_registration_path
            |
            = link_to 'Sair', destroy_user_session_path, :method => :delete
          .user-page
            = link_to users_show_url(current_user.username), users_show_url(current_user.username)
      = yield

    %footer
      .align-center
        %p Sob.re | Todos os direitos reservados
      = render 'shared/google_analytics.html.erb'
      = yield :footer
