!!! 5
%html{:lang => "pt-br"}
  %head
    %meta{:charset => "UTF-8"}
    = stylesheet_link_tag 'application'
    %title= yield :title

  %body
    .all-content
      %section.faixa= link_to "Já é um usuário?", "#", :class => 'login'
      = render 'shared/login'

      %header
        .align-center
          = image_tag "logo.png"
          = render :partial => "shared/menu"
      .content
        .align-center
          = yield

      %footer
        .align-center
          %p Sob.re | Todos os direitos reservados
        = javascript_include_tag 'application'
