!!! 5
%html{:lang => "pt-br"}
  %head
    %meta{:charset => "UTF-8"}
    %meta{:name => "robots", :content => "index, follow"}
    %meta{:name => "keywords", :content => "site fácil, site pronto, site sem conhecimento técnico"}
    %meta{:name => "description", :content => "Criação de sites sem necessidade técnica, com apenas um único passo e um formulário simples, você coloca sua empresa na internet sem dor de cabeça."}

    = stylesheet_link_tag 'application'
    %title Sob.re sua empresa facilmente na internet

  %body
    .all-content
      %section.faixa= link_to "Já é um usuário?", "#", :class => 'login'
      = render 'shared/login'

      %header
        .align-center
          = link_to image_tag("logo.png"), "/"


          = render :partial => "shared/menu"
      .content
        .align-center
          = yield

      %footer
        .align-center
          %p Sob.re | Todos os direitos reservados
        = javascript_include_tag 'application'
        = render 'shared/google_analytics'
