!!! 5
%html{:lang => "pt-br"}
  %head
    %meta{:charset => "UTF-8"}
    = stylesheet_link_tag 'application'
    %title= yield :title

  %body
    .all-content
      %section.faixa Já é um usuário?
      %header
        .align-center
          = image_tag ("logo.png")
      .content
        .align-center
          .video
          = yield

      %footer
        .align-center
          %p Sob.re | Todos os direitos reservados
        = yield :footer
